<!DOCTYPE html>
<html lang="en"
      layout:decorator="layout/default"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Device management</title>
</head>
<body>
<div layout:fragment="content">

    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Device management</h1>
        <p class="mb-4">The table of all registered devices, you can manage general information about devices, register
            new ones, generate tokens, and control device.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Devices</h6>
                <a class="btn btn-success btn-icon-split" th:href="@{/device/create}">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-right"></i>
                    </span>
                    <span class="text">New Device</span>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table cellspacing="0" class="table table-bordered" id="dataTable" width="100%">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Type</th>
                            <th>Last activity</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="device, iStat : ${deviceList}">
                            <td th:text="${device.name}"/>
                            <td th:text="${device.location}"/>
                            <td th:text="${device.type}"/>
                            <td th:text="${device.lastActivity}"/>
                            <td>
                                <a class="btn btn-info btn-circle btn-sm" th:href="@{/device/{id}(id = ${device.id})}">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- End of Main Content -->
</body>
</html>